@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-Regular.ttf) format("truetype");
}

body {
    font-family: "Mulish", "Muli", "Avenir", "Proxima Nova", "Futura";
    background-color: #f5f5f5;
    margin: 0px;
    font-size: 16px;
    min-height: 100vh;
}

/*header*/
header {
    background-color: #629c9f;
    width: 100%;
  }

header a {
    color: rgb(36, 35, 35);
    text-decoration: none;
}

.menu-icon i:hover {
    font-size: 48px;
    font-weight: bolder;
}

.logo img {
    max-width: 150px;
    width: 100%;
    padding: 30px 30px 0px;
}

nav {
    display: none;
    background-color: #629c9f;
    width: 100%;
    left: 0px;
    top: 85px;
    position: fixed;
}

nav li{ 
    display: block;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid;
}

nav ul {
    margin-left: -15%;
    margin-bottom: 0px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

#hamburger-menu {
    display: none;

}

.menu-icon {
    display: none;
    font-size: 30px;
    padding: 25px;
}

i :hover {
    color: #fff;
}

.shoppingbasket {
    margin-left: 30px;
}

.searchbox {
    display: none;
}

/*links*/
a {
    color: #000;
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #F5F5F5; 
    text-align: center;
    padding: 1px;
    bottom: 0;
    position: relative;
    width: 100%;
}

.cta {
    background-color: #ffe259;
    color: #000;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cta:hover{
    font-weight: bolder;
    font-size: 20px;
}

.cta-small {
    padding: 5px 20px;
    margin: 0px 10px;
}

.cta-large {
    padding: 10px 70px;
    margin: 10px 20px;   
}

.cta-button { 
    padding: 10px 60px;
}

.form-error {
    display: none;
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(184, 2, 2);
}

.form-success {
    display: none;
    border: 2px solid #000;
    padding: 1rem;
    color: #000;
    background: rgb(139, 242, 171);
    text-align: center;
    margin-top: 2rem;
    font-size: 18px;
}